html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

a {
	color: #000;
	display: inline-block;
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
}

.container {
	max-width: 1030px;
	margin: 0 auto;
	padding: 0 15px;
}

.header {
	background-color: #e8ebf1;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.07);
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 120px;
}

.header__logo a, .footer__logo a{
		color: #2aacc8;
		font-size: 50px;
		font-family: 'Lato', sans-serif;
		font-weight: 400;
}

.header__logo a span, .footer__logo a span {
	color: #000;
	font-weight: 700;
}

.header__menu {
	margin-right: 20px;
}

.header__menu li + li {
	margin-left: 50px;
}

.header__menu a {
	font-family: 'arial', sans-serif;
	font-weight: 700;
	line-height: 20px;
	font-size: 13px;
	text-transform: uppercase;
	padding-bottom: 9px;
	padding-top: 9px;
}

.drop-down__list {
	display: none;
	position: absolute;
	width: 200px;
	background-color: #fff;
	border-color: #fff;
	border: 1px solid rgb(232, 235, 241);
	border-bottom: solid 5px #2aacc8;
	border-top: none;
	box-shadow: 0px 5px 0px rgba(42, 172, 200, 0,004);
	padding: 10px 5px;
	z-index: 3;
}

.drop-down__list a {
	padding: 12px 0px 12px 11px;
	font-weight: 400;
	display: block;
	text-transform: none;
}

.drop-down__list a:hover {
	color: #2aacc8;
}

.drop-down__list li + li a {
	border-top: 1px solid #e7e7e7;
}

.header__drop-down .drop-down__list li {
	margin-left: 0;
	display: block;
}

.header__drop-down {
	position: relative;
}

.header__drop-down.drop-down {
	margin-left: 39px;
}

.header__menu>ul>li:nth-child(5) {
	margin-left: 20px;
}

.header__drop-down.drop-down + .header__drop-down.drop-down {
	margin-left: 12px;
}

.header__drop-down > a{
	position: relative;
	padding-left: 11px;
	padding-right: 26px;
	border-top: 5px solid transparent;
}

.header__drop-down > a::after {
	content: '';
	position: absolute;
	background-image: url(../img/down-arrow.png);
	width: 7px;
	height: 5px;
	top: 15px;
	right: 8px;
}

/*.header__drop-down > a:hover {
	color: #2aacc8;
	border-top: solid 5px #2aacc8;
	background-color: #fff;
	transition: all .3s;

}*/

.header__drop-down > a:hover + .drop-down__list {
	display: block;
}

.drop-down__list:hover {
	display: block;
}

.header__drop-down.drop-down:hover .drop-down__list{
	display: block;
}

.header__drop-down.drop-down:hover > a {
	color: #2aacc8;
	border-top: solid 5px #2aacc8;
	background-color: #fff;
	transition: all .3s;
}

.slider {
	background-color: #81e4ed;
	padding: 20px 0 10px;
}

.slider__item {
	background-image: url(../img/slider-wj.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 440px;
	background-position: top center;
}

.slider__item-title {
	color: #fff;
	font-size: 50px;
	font-family: 'lato', 'sans-serif';
	font-weight: 700;
	width: 300px;
	margin-left: 60px;
	padding-top: 95px;
}

.slick-dots li button {
	height: 14px;
	width: 14px;
	background-color: rgba(98,98,98,.5);
	border-radius: 50%;
}

.slick-dots li button:before {
	display: none;
}

.slick-dots li {
	margin: 0 9px;
	width: auto;
	height: auto;
}

.slick-dots li.slick-active button {
	background-color: white;
}

.items {
	background-color: #e8eaf0;
	padding: 60px 0 50px;
	border-bottom: 1px solid #d9d9d9;
}

.items__inner {
	display: flex;
	justify-content: space-between;
}

.item {
	width: 225px;
	font-family: 'arial', sans-serif;
}

.item__title {
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	padding: 10px 0 0 60px;
	margin-bottom: 30px;
	position: relative;
}

.item__icons {
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #2aacc8;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item__text {
	font-size: 13px;
	color: #363636;
	margin-bottom: 25px;
}

.item__link {
	padding-left: 15px;
	font-size: 13px;
	position: relative;
}

.item__link a {
	color: #2aacc8;
}

.item__link:before{
	content: '';
	position: absolute;
	background-image: url(../img/svg/arrow-right.svg);
	left: 0;
	width: 5px;
	height: 7px;
	top: 3px;
}

.works__title {
	padding: 25px 0 15px 40px;
	position: relative;
	font-family: 'arial', sans-serif;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
}

.works__title:before {
	content: '';
	background-image: url(../img/svg/cursor.svg);
	position: absolute;
	top: 20px;
	left: 0px;
	width: 14px;
	height: 24px;
}

.works__inner {
	padding-top: 20px 0 40px 0;
	border-top: 1px solid #dfe1e5;
	border-bottom: 1px solid #dfe1e5;
}

.slick-arrow {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #81e4ed;
}

.slick-arrow:before {
	display: none;
}

.slick-arrow:hover, .slick-arrow:focus {
	background-color: #81e4ed;
}

.slick-prev {
	right: 31px;
	top: -27px;
	left: auto;
}

.slick-next {
	right: 0;
	top: -27px;
}

.works__inner-box {
	text-align: center;

}

.works__inner-box {
	display: inline-block;
	position: relative;
}

.works__inner-link {
	background-color: #2aacc8;
	height: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	overflow: hidden;
}

.works__inner-link a {
	margin-left: 15px;
	margin-right: 15px;
}

.works__inner-box:hover .works__inner-link{
	height: 80px;
	transition: all .5s;
}

.slick-list {
	margin-right: -15px;
	margin-left: -15px;
}

.clients {
	padding: 20px 0 40px;
}

.clients__inner {
	display: flex;
	justify-content: space-between;
}

.testimonials {
	max-width: 440px;
}

.testimonials__title, .clients-logo__title {
	padding: 25px 0 15px 40px;
	position: relative;
	font-family: 'arial', sans-serif;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
}

.testimonials__title::before {
	content: '';
	background-image: url(../img/svg/testi.svg);
	position: absolute;
	top: 20px;
	left: 0px;
	width: 24px;
	height: 23px;
}

.clients-logo__title::before {
	content: '';
	background-image: url(../img/svg/client.svg);
	position: absolute;
	top: 20px;
	left: 0px;
	width: 24px;
	height: 23px;
}

.testimonials p {
	font-size: 14px;
	line-height: 24px;
	color: #363636;
}

.testimonials span {
	display: block;
	padding-top: 30px;
	font-weight: 700;
	font-family: 'arial', 'sans-serif';
	font-style: italic;
	font-size: 14px;
	line-height: 24px;
	color: #363636;
}

.download {
	margin-top: 40px;
	padding: 33px 40px 30px 30px;
	border: 1px solid #81e4ed;
	background-color: #e8fcfe;
	display: flex;
	justify-content: space-between;

}

.download__text {
	font-size: 16px;
	line-height: 26px;
	color: #363636;
	max-width: 620px;
}

.download__btn a{
	font-weight: 700;
	text-transform: uppercase;
	font-size: 18px;
	padding: 20px 20px 20px 70px;
	position: relative;
	border: 1px solid rgb(102, 170, 198);
	border-radius: 8px;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2),inset 0px 2px 1px 0px rgba(255, 255, 255, 0.1);
	background: linear-gradient( to top, rgb(102,170,198) 0%, rgb(138,205,220) 15%, rgb(152,217,229) 50%, rgb(164,227,236) 100%);
}

.download__btn a::before {
	content: '';
	position: absolute;
	background-image: url(../img/svg/download.svg);
	width: 28px;
	height: 25px;
	left: 19px;
	top: 16px;
}

.footer {
	background-color: #e8ebf1;
	padding: 30px 0 40px 0;
	border-top: 1px solid #d9d9d9;
}

.footer__inner {
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
}

.footer__items-title {
	font-family: 'arial', 'sans-serif';
	font-weight: 700;
	font-size: 15px;
	text-transform: uppercase;
}

.footer__item-content {
	width: 240	px;
}

.footer__text {
	padding-top: 25px;
	font-size: 14px;
	color: #363636;
	line-height: 16px;
}

.footer__item-list {
	width: 115px;
}

.footer__list {
	padding-top: 10px;
}

.footer__list li {
	display: block;
}

.footer__list a {
	color: #363636;
	font-size: 14px;
	line-height: 26px;
}

.footer__item-contact {
	width: 150px;
}

.footer__adress {
	padding-top: 25px;
	font-size: 14px;
	color: #363636;
	margin-bottom: 16px;
}

.footer__adress span {
	display: block;
	font-weight: 700;
}

.footer__phone {
	font-size: 14px;
	color: #363636;
}

.footer__item-social {
	width: 185px;
}

.footer__social {
	padding-top: 25px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer__bottom {
	display: flex;
	justify-content: space-between;
}

.footer__copy {
	font-size: 13px;
	line-height: 18px;
	color: #363636;
	max-width: 650px;
}